body {
	margin: 0;
	background-color: #f5f6f6;
}
.movie {
	margin-left: auto;
	margin-right: auto;
	margin-top: 35px;
	font-family: "HelveticaNeue", arial, sans-serif;
	width: 1060px;

}
.movie-navigation {
	font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 22px;
    letter-spacing: 0.4px;
    display: block;
    width: 1060px;
    padding-bottom: 7px;
}

.navigation-list {
	list-style-type: none;
	overflow: hidden;
	float: left;
	clear: left;
	width: 509px;
	margin: 0;
	padding: 0;
	display: flex;
    justify-content: space-between;
}


.item-link, .item-link1 {
	text-decoration: none;
	color: #0aaee4;
	float: left;
	padding-bottom: 7px;

}

.item-link1 {
	font-weight: bold;
	border-bottom: 2px solid #0aaee4;
}

.openlist {
	display: inline-block;
    width: 8px;
    height: 5px;
    margin-left: 5px;
    margin-bottom: 2px;
    padding: 0px;
    background: url("sprites.png") no-repeat;
    background-position: -15px -11px;
    text-indent: -19999px;
    overflow: hidden;
}
.listview {
	display: inline-block;
	float: right;
	clear: right;
	width: 18px;
    height: 16px;
    background: url("sprites.png") no-repeat;
    background-position: -57px -9px;
    text-indent: -19999px;
    overflow: hidden;
}

.gridview {
	display: inline-block;
	margin-left: 499px;
	width: 18px;
    height: 16px;
    background: url("sprites.png") no-repeat;
    background-position: -31px -8px;
    text-indent: -19999px;
    overflow: hidden;
}

.film-preview {
	margin-top: 11px;
	width: 211px;
	height: 35px;
	border-radius: 4px;
	box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.04);
	padding-bottom: 21px;
	padding-left: 20px;
	padding-right: 19px;
	padding-top: 244px;
}
.film-title {
	color: black;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
	text-transform: uppercase;
	text-decoration: none;
	width: 156px;
	line-height: 11px;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 0.4px;
	display: block;
	float: left;
	margin: 0;
	margin-bottom: 10px;
	margin-top: 3px;
}
.film-link {
	text-decoration: none;
	margin-bottom: 10px;
}


.ganre {
	width: 162px;
    height: 12px;
	font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    font-weight: 500;
    line-height: 1.33;
    letter-spacing: 0.5px;
    color: #0aaee4;

}

.ganre-name {
	color: #0aaee4;
	display: inline;
}

.film-rate {
	font-size: 12px;
	float: right;
	margin: 0px;
	color: #0aaee4;
	line-height: 10px;
	padding: 3px 5px 3px 5px;
	border-radius: 3px;
    border: solid 1px #0aaee4;
    width: 16px;
    height: 9px;


}



.film-area {
	width: 1060px;
	margin-top: 1px;
	border-top: 1px solid rgba(0,0,0,0.1);
	display: flex;
	justify-content: space-between;
}

.load-status {
	display: block;
	margin-top: 36px;
	margin-left: auto;
	margin-right: auto;
}
.load-title {
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 10px;
	text-transform: uppercase;
	color: rgba(36, 43, 45, 0.35);
	line-height: 1;
	width: 46px;
  	height: 8px;
  	opacity: 0.35;
    letter-spacing: 0.4px;
    text-align: center;
}
.film-poster {
	background-color: grey;
	width: 250px;
	height: 220px;
	border-radius: 4px 4px 0px 0px;
	display: block;
	margin-left: -20px;
	margin-top: -244px;
	margin-bottom: 23px;
}












